/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.getStartedBtn {
  background-color: #E19C03;
  border-color: #E19C03;
  color: white;
  outline-color: #E19C03;
}

.getStartedBtn:hover {
  background-color:#d19002;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  width: 5rem;
}

.featureTitle, .featureDescription {
  text-align: center;
}

.featureDescription a {
  color: #0064B1;
}