/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary:#0064B1;
  --ifm-color-primary-dark: #005a9f;
  --ifm-color-primary-darker: #005596;
  --ifm-color-primary-darkest: #00467c;
  --ifm-color-primary-light: #006ec3;
  --ifm-color-primary-lighter: #0073cc;
  --ifm-color-primary-lightest:#0082e6;
  --ifm-color-secondary: #E19C03;
  --ifm-footer-background-color:#0064B1;
  --ifm-code-font-size: 95%;
  --ifm-navbar-height: 64px;
  --ifm-navbar-padding-vertical: 8px;
}

.main-wrapper {
  margin-top: 62px;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

footer.footer {
  background-color:var(--ifm-color-primary);
}

.footer__copyright{
  color:white;
}

.footer__copyright a,
.footer__copyright a:hover {
  color: white;
}

.footer__link-item:hover{
  color: var(--ifm-footer-link-color);
}

.button--secondary:not(.button--outline):hover{
  background-color: #d19002;
  border-color: #d19002;
}

.sidebarMenuIcon_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocSidebar-{
  color: white;
}

@media (max-width: 996px) {
  .navbar__item.navbar__link.cozyroc-website-link{
    display: none;
  }

  .navbar__brand .navbar__logo {
    display: none !important;
  }
}

.admonition.admonition-note.alert,
.admonition.admonition-note.alert a {
  color:white;
}

.admonition.admonition-note.alert .admonition-icon svg {
  fill: white;
  stroke: white;
}

.font-weight-bold {
  font-weight: 700;
}