html,
body {
  height: 100%;
}

body {
  margin: 0;
  transition: var(--ifm-transition-fast) ease color;
}

#__docusaurus {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  flex: 1 0 auto;
}

@media only screen and (max-width: 948px) {

  /********** overlay **********/

  div.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: calc(100% - 62px);
    top: 62px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
  }

  div.overlay.active {
    display: block;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 3;
    animation: fade-in 0.5s;
  }
}