/**
 * Copyright (c) Facebook, Inc. and its affiliates.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 */

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.justify-space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/********** navbar **********/
nav.navbar {
  bottom: auto;
  background: transparent;
  box-sizing: border-box;
  display: block;
  height: 62px;
  letter-spacing: -0.14px;
  line-height: 20px;
  padding: 0 40px 0 40px;
  pointer-events: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 4;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
}

.navbar .navbar-bg {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: var(--ifm-color-primary);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.navbar .navbar-container {
  position: relative;
  max-width: 1680px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

.navbar-container .navbar-brand {
  line-height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-container .navbar-brand:hover {
  cursor: pointer;
}

.navbar-container .navbar-brand .logo {
  width: 40px;
  float: left;
}

.navbar-container .navbar-brand .name {
  margin-left: 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
}


.navbar-container .navbar-links {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.navbar-container .nav-item,
.navbar-buttons .sign-in-link {
  height: 100%;
}

.navbar-buttons {
  align-items: center;
}

.navbar-links-wrap {
  flex-grow: 1;
}

.navbar-links-wrap .navbar-links {
  flex-grow: 1;
}

.navbar-links .nav-item a,
.navbar-buttons .sign-in-link {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  transition: color 150ms;
  color: white;
}

.navbar-links .nav-item a:hover,
.navbar-buttons .sign-in-link:hover,
.navbar-links .nav-item.active a {
  color: #E19C03;
  border-bottom: 2px solid;
}

.navbar-links-left,
.navbar-links-right {
  flex-grow: 1;
}

.navbar-container .navbar-links-left {
  justify-content: start;
  margin-left: 20px;
}

.navbar-links-left .nav-item a {
  text-transform: uppercase;
}

.navbar-links-right {
  justify-content: end;
}

.navbar-buttons .sign-up .btn {
  padding: 10px 20px 10px 20px !important;
}

.navbar-buttons .sign-up {
  padding: 10px;
}

.navbar-buttons .hamburger {
  display: none;
  padding: 18px 0 18px 20px;
}

.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

@media only screen and (max-width: 360px) {
  .navbar-brand .name {
    display: none;
  }
}

@media only screen and (max-width: 620px) {
  .navbar-buttons .sign-in-link {
    display: none;
  }
}

@media only screen and (max-width: 948px) {
  .navbar-container .navbar-links-wrap {
    position: fixed;
    left: -100%;
    top: 74px;
    flex-direction: column;
    background-color: #fff;
    width: calc(100% - 40px);
    border-radius: 8px;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.15);
    padding: 20px 20px 20px 20px;
  }

  .navbar-links-wrap.active {
    left: 20px;
  }

  .navbar-links-wrap .navbar-links-right {
    margin-right: 0 !important;
  }

  .navbar-links-wrap .navbar-links-left {
    margin-left: 0 !important;
  }

  .navbar-links-wrap .navbar-links {
    flex-direction: column;
  }

  .navbar-links .nav-item {
    border-bottom: 1px solid rgb(215 215 215 / 40%);
    text-align: left;
    width: 100%;
  }

  .navbar-links .nav-item:last-of-type,
  .navbar-links-left .nav-item a:hover {
    border: none;
  }

  .navbar-links-left {
    border-bottom: none;
  }

  .navbar-links .nav-item a {
    display: inline-block;
    font-size: 18px;
    color: #0064B1 !important;
  }

  .navbar-buttons .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar-links .nav-item a:hover,
  .navbar-buttons .sign-in-link:hover {
    color: #E19C03 !important;
  }
}

.atlas-cta {
  border-radius: 22px !important;
  padding: 12px 30px !important;
  font-weight: 700;
  transition: .1s ease-in-out !important;
}

.atlas-cta:hover {
  text-decoration: none;
}

.cta-orange {
  background: #E19C03;
  color: #ffffff;
}

.cta-orange:hover {
  background: #d19002;
  color: #ffffff;
}
